<h1>Answer the question</h1>
<div class="banner1">
<%= @question %> <br>
-You <br>
</div>
<br>
<div class="banner2">
<%= @answer %> <br>
-Your coach<br>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
