// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
   background: $gray;
}

h1 {
     font-size: 50px;
  }

.banner1 {
  background: white;
  border-left: solid 6px;
  border-left-color: grey;
  padding: 10px;
}

.banner2 {
  background: white;
  border-left: solid 6px;
  border-left-color: grey;
  padding: 10px;
}

a {
   color: blue;
   font-style: italic;
   &:hover {
     color: black;
  }
}
